extends layouts/admin

block title
    | Панель

block content
    div.container(style={'margin-top': '40px'})
        div.row
            div.col.s4
                div.icon-block.center
                    i.indigo-text.material-icons.large account_circle
                    h5 #{users} пользователей
            div.col.s4
                div.icon-block.center
                    i.indigo-text.material-icons.large category
                    h5 #{groups} групп
            div.col.s4
                div.icon-block.center
                    i.indigo-text.material-icons.large shopping_cart
                    h5 #{products} продуктов