doctype html
html
    head
        title Page not found
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons')
        link(rel='stylesheet' href='/css/materialize.min.css')
        link(rel='stylesheet' href='/css/admin.css')
    body
        div.my-wrapper.valign-wrapper.center-align
            div.row
                h1 Page not found