extends layouts/admin

block title
    = parent

block content
    div.container(style={'margin-top': '20px', 'margin-bottom': '40px'})
        h1= parent
        table.highlight(id='table')
            thead
                tr
                    th Имя
                    th Действие
            tbody
                each product in products
                    tr
                        td= product.name
                        td
                            a.btn-small(href=(req.baseUrl + '/product/' + product.id))
                                i.material-icons remove_red_eye

block head
    link(rel='stylesheet' href='/css/datatable.css')
    script(src='/js/datatable.min.js')
    script.
        document.addEventListener("DOMContentLoaded", function () {
            var dataTable = new simpleDatatables.DataTable("#table", {layout: {
                top: "",
                bottom: "{pager}"
            }});
        });
