extends layouts/admin

block title
    | Telegram

block content
    div.container(style={'margin-top': '20px'})
        table.highlight(id='table')
            thead
                tr
                    th ID пользователя
                    th Имя
                    th Номер телефона
            tbody
                each user in users
                    tr
                        td= user.key
                        td= user.data.name
                        td= user.data.phone

block head
    link(rel='stylesheet' href='/css/datatable.css')
    script(src='/js/datatable.min.js')
    script
        | document.addEventListener("DOMContentLoaded", function () {
        | var dataTable = new simpleDatatables.DataTable("#table", {layout: {
        | top: "",
        | bottom: "{pager}"
        | }});
        | });
